/* App.css */

/* General styles */
.App {
  text-align: center;
  padding: 20px; /* Add padding for better spacing */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjust to start content from the top */
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown-container {
  margin-bottom: 20px; /* Space below dropdown */
}

.dropdown-container select {
  padding: 12px; /* Increase padding to make the dropdown bigger */
  font-size: 1rem; /* Adjust font size */
  width: 100%; /* Ensure dropdown takes full width */
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%; /* Adjust width as per your design */
  max-width: 600px; /* Max width to ensure it's not too wide on large screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card2 {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Full width */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

/* Media queries */
@media (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%; /* Adjust width for desktop layout */
    max-width: 800px; /* Increase max width for larger screens */
  }
}

@media (max-width: 767px) {
  .App-header {
    min-height: auto; /* Remove min-height for mobile screens */
  }

  .dropdown-container {
    width: 100%; /* Full width for dropdown container on smaller screens */
    margin-bottom: 10px; /* Reduce margin for smaller screens */
  }

  .card {
    width: 100%; /* Full width for cards on smaller screens */
    border-radius: 0; /* Remove border-radius for full-width cards */
  }
}
